<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>ليس لديك الصلاحيات للوصول إلى هذه الصفحة.</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <div class="d-flex justify-center align-center" style="height: 100vh;">
                        <MudProgressCircular Indeterminate="true" Size="Size.Large" />
                        <MudText Typo="Typo.h6" Class="mr-3">جاري التحميل...</MudText>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <Pages.NotFound />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>